.cubeCanvas {
    border-radius: 20px;
    background: #303030;
    box-shadow: 0 7px 30px #000000;
    width: min(90vh, 45vw);
    height: min(90vh, 45vw);
    margin: auto;
}

@media (orientation: portrait) {
    .cubeCanvas {
        width: min(40vh, 98vw);
        height: min(40vh, 98vw);
    }
}
