.hintDisplay {
    border-radius: 20px;
    background: #303030;
    box-shadow: 0 7px 30px #000000;
    width: min(70vh, 45vw);
    height: min(70vh, 45vw);
    margin: auto;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.hintDisplay h1 {
    color: #e0e0e0;
    font-weight: 700;
    font-family: system-ui, sans-serif;
    font-size: calc(min(70vh, 45vw) * 0.04);
    word-break: break-word;
    margin: calc(min(70vh, 45vw) * 30px) 0 calc(min(70vh, 45vw) * 10px) 0;
}

.hintDisplay p {
    color: #e0e0e0;
    font-weight: 500;
    font-family: system-ui, sans-serif;
    font-size: calc(min(70vh, 45vw) * 0.03);
    word-break: break-word;
    margin: calc(min(70vh, 45vw) * 10px) 0 0 0;
}

.hintDisplay code {
    display: block;
    width: fit-content;
    margin: calc(min(70vh, 45vw) * 10px) 0 0 0;
    color: #c0c0c0;
    font-weight: 600;
    font-size: calc(min(70vh, 45vw) * 0.03);
    word-break: break-word;
    padding: calc(min(70vh, 45vw) * 2px) calc(min(70vh, 45vw) * 4px);
    background-color: #505050;
    border-radius: calc(min(70vh, 45vw) * 4px);
}

.hintDisplay code:hover {
    color: #ffffff;
    cursor: pointer;
}

@media (orientation: portrait) {
    .hintDisplay {
        width: min(40vh, 98vw);
        height: min(40vh, 98vw);
    }

    .hintDisplay h1 {
        font-size: calc(min(40vh, 98vw) * 0.04);
        margin: calc(min(40vh, 98vw) * 30px) 0 calc(min(40vh, 98vw) * 10px) 0;
    }

    .hintDisplay p {
        font-size: calc(min(40vh, 98vw) * 0.03);
        margin: calc(min(40vh, 98vw) * 10px) 0 0 0;
    }

    .hintDisplay code {
        font-size: calc(min(40vh, 98vw) * 0.03);
        margin: calc(min(40vh, 98vw) * 10px) 0 0 0;
        padding: calc(min(40vh, 98vw) * 2px) calc(min(40vh, 98vw) * 4px);
        border-radius: calc(min(40vh, 98vw) * 4px);
    }
}
